<div class="intro info">
  <h2><%= @city.name %></h2>
  <p>Realtime disease detection <a href="http://diycity.org/sickcity-realtime-disease-detection-your-city">by DIYCity</a></p>
  <%= "<p class=\"notice\">#{flash[:notice]}</p>" if flash[:notice] %>
</div>
<ul class="list">
  <% @phrases.each do |phrase|%>
  <li><a href="/<%= params[:country] %>/<%= params[:city] %>/<%= phrase.title %>"><span class="city">
    <span class="trending_<%= phrase.trending_up_by_city(@city.id) ? 'up' : 'down' %>"><%= phrase.trending_up_by_city(@city.id) ? 'Up' : 'Down' %></span>
    <%= phrase.title %></span> 
    <span id="phrase_graph_<%= phrase.id %>" class="tiny_graph"><% @trend[phrase.id].each do |hour| %><%= hour %>,<% end %></span></a></li>
  <% end %>
</ul>
<a id="map" href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=<%= @location.latitude %>,<%= @location.longitude %>"><img src="http://maps.google.com/staticmap?center=<%= @location.latitude %>,<%= @location.longitude %>&zoom=11&size=500x213&maptype=mobile&key=<%= GOOGLE_API_KEY %>&sensor=false" alt="Map" /></a>
<div class="navbar">
  <a class="back home" href="/<%= params[:country] %>/">Cities<img src="/images/bkr.png" /></a>
  <a class="forward button home" href="/"><img src="/images/bk2l.png" /><img class="buttonimage" src="/images/logosmall.png" /></a>
  <h1><%= params[:city] %></h1>
</div>
<script type="text/javascript">
  $('.tiny_graph').sparkline();
</script>