<div class="intro alt">
  <h2><%= @city.name %></h2>
  <p><%= @mentions.length %> mentions of "<%= @phrase.title %>" over <%= @range + 1 %> days:</p>
</div>
<div class="center">&nbsp;</div>
<div id="thirty_day_trend" class="trend"></div>
<div class="navbar second">
<% if ((@range_center - 1) >= (Date.today - 60)) %>
  <a class="back" href="/<%= params[:country] %>/<%= params[:city] %>/phrase/<%= params[:phrase] %>/<%= @range_center - 1 %>"><%= (@range_center - 1).strftime('%d %b') %><img src="/images/bkr.png" /></a>
<% end %>
  <a class="forward" href="/<%= params[:country] %>/<%= params[:city] %>/phrase/<%= params[:phrase] %>/<%= @range_center + 1 %>"><img src="/images/bk2l.png" /><%= (@range_center + 1).strftime('%d %b') %></a>
  <h1 style="font-size: 15px"><%= @twenty_four_hour_count.length %> mentions of "<%= @phrase.title %>" on <%= @range_center.strftime('%B %d') %></h1>
</div>
<div id="twenty_four_hour_trend" class="trend"></div>
<a id="map" href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=<%= @location.latitude %>,<%= @location.longitude %>"><img src="http://maps.google.com/staticmap?center=<%= @location.latitude %>,<%= @location.longitude %>&zoom=11&size=500x213&maptype=mobile&key=<%= GOOGLE_API_KEY %>&sensor=false" alt="Map" /></a>
<div class="navbar">
  <a class="back" href="/<%= params[:country] %>/<%= params[:city] %>">Diseases<img src="/images/bkr.png" /></a>
  <a class="forward button home" href="/"><img src="/images/bk2l.png" /><img class="buttonimage" src="/images/logosmall.png" /></a>
  <h1><%= @city.name %></h1>
</div>
<p class="intro">Help us make SickCity better by removing tweets that aren't actually about being sick.</p>
<ul id="tweets">
  <% thirty_day_trend = Array.new((@range + 1),0) %>
  <% hour_trend = Array.new(24,0) %>
  <% @mentions.each do |mention| %>
    <%
      published_date = mention.mentioned_at
      # Work out day difference of mention and update array
      index = ((published_date.to_date - @range_end) + @range).to_i
      thirty_day_trend[index] = thirty_day_trend[index] + 1
    %>
    <% if published_date.to_date == @range_center %>
      <li class="<%= cycle('odd','even')%>">
        <input type="button" value="Remove" onclick="document.location = '/mention/remove/<%= mention.id %>';" />
        <span class="time"><a target="_blank" href="<%= mention.link %>"><%= published_date.strftime('%H:%M') %></a></span>
        <%= h(mention.message) %>
        <% hour_trend[published_date.hour] = hour_trend[published_date.hour] + 1 %>
      </li>
    <% end %>
  <% end %>
</ul>
<p class="twitterpower"><a href="http://twitter.com"><img src="/images/powered-by-twitter-sig.gif" /></a><p>
<script type="text/javascript">
  $('#thirty_day_trend').sparkline([<% thirty_day_trend.each do |day| %><%= day %>,<% end %>], {type: 'bar',height: '50px', barSpacing: 2, barWidth: 8, barColor: '#000000', chartRangeMax: <%= @graph_max %>, chartRangeMin: 0});
  var trend_width = 490;
  $('#twenty_four_hour_trend').sparkline([<% hour_trend.each do |hour| %><%= hour %>,<% end %>], {height: '50px', width: trend_width + 'px', fillColor: '#c6dddc', lineColor: '#333'});
</script>
