<div class="intro alt">
  <h2>Add Your City</h2>
</div>
<div class="intro alt">
<a id="map" href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=<%= @location.latitude %>,<%= @location.longitude %>"><img src="http://maps.google.com/staticmap?center=<%= @location.latitude %>,<%= @location.longitude %>&zoom=11&size=500x213&maptype=mobile&key=<%= GOOGLE_API_KEY %>&sensor=false" alt="Map" /></a>
<% if @location.latitude == '0' %>
<p>Not even almighty Google could find your city.</p>
<% else %>
<% form_for :city, @city, :url => { :action => "create" } do |f| %>
  <%= f.error_messages %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :country, :value => @location['country'] %>
  <p style="text-align: center; padding: 25px 0 0 0;">
    <%= f.submit "That's the place, add it!" %>
  </p>
<% end %>
</div>
<% end %>
<div class="navbar">
  <a class="back home" href="/cities/add">Try Again<img src="/images/bkr.png" /></a>
  <a class="forward button home" href="/"><img src="/images/bk2l.png" /><img class="buttonimage" src="/images/logosmall.png" /></a>
</div>